.video{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width:70%;
    height: 600px;
    margin-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: rgb(241, 113, 231);
}
